
<% if @included %>
  <% if @hash["found"] %>
    <p>The word is valid according to the grid and is an English word</p>
  <% else %>
    <p>The word is valid according to the grid, but is not a valid English word</p>
  <% end %>
<% else %>
  <p>The word can’t be built out of the original grid</p>
<% end %>

<%= link_to "Play again", new_path %>
